@font-face {
  font-family: "firaSans";
  src: url("../public/Fonts/Fira_Sans/FiraSans-Bold.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  /* min-height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background-color: #654989;
  border-radius: 15em;
  padding: 1%;
  margin: 0.5%;
}

.btn:hover {
  background-color: #cd31ff;
}

.mainContainer {
  /* align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center; */
  display: flex;
  flex-direction: column;
  /* min-height: 100%; */
  min-height: 100vh;
}

body {
  background: #1e222b;

  background-attachment: fixed;
  background-size: cover;

  /* Basic styling for text to ensure readability on the gradient background */
  color: white;
  text-align: center;
  font-family: firaSans, sans-serif;
}

.leaderboard {
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  display: flex;
}

.walletBtnContainer {
  justify-content: right;
  justify-items: right;
  display: flex;
}

.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

/* Position and sizing of burger button */
.bm-burger-button {
  /* padding: 1.5%; */

  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  margin: 1%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #654989;
}

/* #654989 */
/* #cd31ff */

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #cd31ff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a4768;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(185, 143, 143, 0.3);
}

.countdown-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #00006600; /* dark blue background */
  color: #cd31ff; /* yellow text */
  font-family: "Arial", sans-serif;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 2rem; /* large font size */
}

.countdown-labels {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1rem; /* smaller font size */
}

.countdown-timer > div,
.countdown-labels > div {
  margin: 0 15px; /* spacing between elements */
}

.countdown-timer > div:not(:last-child):after,
.countdown-labels > div:not(:last-child):after {
  content: "";
  margin-left: 15px; /* spacing after each element except last */
}

.footer {
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  /* display: inline; */
  padding-top: 2vh;
  /* bottom: 0; */
  /* position: fixed; */
}

.clubFooterLogo {
  padding: 1%;
  max-height: 5%;
  max-width: 10%;
}

.uploadContainer {
  background-color: #61dafb;
  align-content: center;
}

.uploadImageContainer {
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-image: url("../public/uploadImageDefault.png");
  transition: background-image 0.3s ease;
}

.uploadImageContainer:hover {
  background-image: url("../public/uploadImageHover.png");
}

.playSongIcon {
  display: inline-block;
  width: 25px; /* Specify a width */
  height: 25px; /* Specify a height */
  background-image: url("../public/playSongIcon.png"); /* Adjust the path as needed */
  background-size: cover; /* Ensure the image covers the span */
}

.playSongIcon:hover {
  background-image: url("../public/playSongHover.png"); /* Adjust the path as needed */
}

.voteIcon {
  display: inline-block;
  width: 25px; /* Specify a width */
  height: 25px; /* Specify a height */
  background-image: url("../public/voteIcon.png"); /* Adjust the path as needed */
  background-size: cover; /* Ensure the image covers the span */
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


.voteIcon:hover {
  animation: moveUp 1s ease-in-out infinite;
}
